@charset "UTF-8";

.customerHeader{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#CCFFCC;
}

.adminHeader{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#FFFFCC;
}

.main{
	margin:20px;
}

.inline-block{
	display:inline-block;
	padding:10px;
}

.login{
	background-color:#CCFFCC;
	text-align:center;
}

.main{
	margin-top:120px;
	text-align:center;
}

.error{
	color:RED;
	font-size:20px;
	font-width:thick;
	text-align:center;
}

.button{
	font-size:16px;
	font-style:Franklin Gothic Medium;
	text-align:center;
}

.message{
	font-size:20px;
	font-width:thick;
	text-align:center;
}